/* Move down content because we have a fixed navbar that is 3.5rem tall */
/*body {
    padding-top: 3.5rem;
  }

*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');


/************************************************************* */


/*----Media Queries ---*/
/*@media (max-width: 992px){

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
*/

/*--- Fixed BackGround Image --*/

figure{
  position:relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}




/*** LOGIN **********/

body{
  font-family: 'Roboto', sans-serif;
  /*background-color: #838383;*/
  /*background: url(../img/bg.jpg) no-repeat center center fixed;*/
  background-size: cover;
}

.main-section {
  margin: 0 auto;
  margin-top: 150px;
  padding: 0;
}

.modal-content{
  background-color: #3b4652;
  opacity: .90;
  padding: 0 18px;
  box-shadow: 0px 0px 3px #848484;
}

#emailinput{
  padding: 0 12px;
  margin-bottom: 25px;
}

#emailinput input{
  height:42px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  padding-left: 32px;
}

#emailinput::before{
  font-family: 'Font Awesome\ 5 Free';
  content: "\f007";
  position: absolute;
  font-size: 22px;
  color: #555e60;
  left: 32px;
  padding-top: 4px;
  font-weight: bold;
}

#emailinput:last-of-type::before{
  font-weight: bold;
  content: "\f023";
 
}

.user-img{
  margin-top: -50px;
  margin-bottom: 35px;
}

.user-img img{
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #3b4652;
}

.btn-info{
  background-color: #277abe;
  border-color: #277abe;
}

button{
  /*width:20%;*/
  margin: 5px 0 25px;
}

#menubtn{
  margin:5px;
}



.container{
  background-color: #5a5a5a;
  
  
}

.navbar-collapse.collapse.in {
  display: block!important;
}

.navbar{
  margin-bottom:2px;
}

